.card__form {
  width: 100%;
  margin-bottom: 2rem;

  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    label {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    input:not([type='submit']),
    select,
    textarea {
      padding: 0.75rem 1rem;
      font-size: 1rem;
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 150px;
      font-family: inherit;
    }
  }

  button,
  input[type='submit'],
  .btn {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-weight: 700;
    outline: transparent;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 2px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 1rem;
    border-radius: var(--radius);
    transition: all var(--transition-speed) ease-in-out;

    &:hover,
    &:focus {
      background-color: var(--primary-light);
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .btn--ghost {
    background-color: var(--white);
    color: var(--primary);
    box-shadow: inset 0 0 0 2px var(--primary);

    &:hover,
    &:focus {
      background-color: var(--white);
      box-shadow: inset 0 0 0 4px var(--primary);
    }
  }
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
  }

  &--success {
    color: var(--success);
    background-color: var(--success-bg);
  }

  &--error {
    color: var(--error);
    background-color: var(--error-bg);
  }
}
