.header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 200px;
    display: block;
  }
  h1 {
    background-color: #1d1d1d;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    color: #fff;
  }
}
