.container--double {
  .card__detail {
    figure {
      margin: 1rem 0;
      img {
        max-width: 360px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .card__form {
    margin: 2rem 0;
  }
}
