.header {
  h1 {
    text-align: center;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;

  &--double {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

.error {
  color: var(--error);
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

.nav__back {
  color: var(--primary);
  padding-left: 1rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: opacity var(--transition-speed) ease-in-out;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 10px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./chevron_left.svg');
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
