:root {
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  --transition-speed: 0.2s;
  --primary: #1d1d1d;
  --primary-light: #404040;
  --black: #000;
  --white: #fff;
  --error: #df0e27;
  --error-bg: #f8d7da;
  --success: #155724;
  --success-bg: #d4edda;
  --radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
